$leogreen: #23B17C;
$font-title: 'Roboto Slab', serif;
$font: 'Rubik', sans-serif;
$text-color-red:#EE3841;
$ball_color: #009FE3;
$ball_opacity: 1;
html{
    font-family: $font;
}
body{
    background-color: aliceblue;
}

#prevbtn{
 height:80px;
    width: 50px;
    position: absolute;
    left:0%;
    top:51%;
    transform: translateY(-50%);
background-color: $leogreen;
text-align: center;
&:hover{
    background-color:rgb(56, 126, 100);
    cursor: pointer;
}
}


i{ 
&.fas.fa-chevron-right{
    color:whitesmoke;
    position: relative;
    top:20%;
}
&.fas.fa-chevron-left{
    color:whitesmoke;
    position: relative;
    top:50%;
    transform: translateY(-50%);
    }
}

#product{
    background: url(../images/gloss.png), url(../images/Covers/grey1.svg);
    background-repeat: no-repeat;
    background-size: auto;
    max-height: 700px;
    max-width: 500px;
    height: 400px;
    width: 300px;
    position: relative;
    left:50%;
       transform: translateX(-50%);
    top:22%;
    border-radius: 0px 24px 24px 0px;
}
.custom{
    background: url(../images/gloss.png), url(../images/Covers/custom.svg);
    background-repeat: no-repeat;
    background-size: auto;
    max-height: 700px;
    max-width: 500px;
    height: 400px;
    width: 300px;
    position: absolute;
    left:50%;
       transform: translateX(-50%);
    top:22%;
    border-radius: 0px 24px 24px 0px;
}
#nextbtn{
    height:80px;
    width: 50px;
    position: absolute;
    right:0%;
    top:51%;
    transform: translateY(-50%);
background-color: $leogreen;
text-align: center;
&:hover{
    background-color:rgb(56, 126, 100);
    cursor: pointer;
}
}
#logo{
    padding-top:1%;
    padding-bottom:0.5%;
    width: auto;
    max-width: 200px;
}
#brandLogo{
    position: absolute;
    bottom:0%;
    left:25%;
    display:none;
    background-image: url('../images/accessoires/logo.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width:50%;
    height:30%;
}
#penLoop{
    display: none;
    position: absolute;
    background-color: white;
    background-image: url('../images/accessoires/penLoop.png');
    background-repeat: repeat-y;
    background-size:contain;
 height: 7%;
    width:10%;
    top:60%;
    right:-10%;
}
#penLoopMenu{
display: none;
padding-top: 2%;
width: auto;
height:auto;
background:	#D8DFE5;
}
.step{
    display:none;
    h1{
        font-size: 32px;
        font-weight: bold;
        font-family: $font-title;
        position: absolute;
        top:25%;
        left:0%;
         transform: translateY(-50%);
    }
}
.stepL{
    display:none;
    h1{
        font-size: 32px;
              font-family: $font-title;
              font-weight: bold;
        position: absolute;
        top:25%;
        left:35%;
         transform: translateY(-50%);
    }
    .question{
    position: absolute;
        top:30%;
        left:35%;
}
}
.question{
    position: absolute;
        top:30%;
               left:0%;
    a.button{
        z-index: 12000;


    font-family: $font-title;
    cursor:pointer;
    display:block;
    min-width:190px;
    min-height:30px;
    width:auto;
    height: auto;
    background-color: aliceblue;
    font-size: 20px;
    text-align: left;
    border-radius: 0px 5px 5px 0px;
      i{
        color:aliceblue;
        float:right;
        font-size: 1.5em ;
        display:none;
    }
   &:hover{
        background-color: $leogreen;
        color:white;
            }
&.active{
  color:white;
    background-color: $leogreen;  
    border-radius: 0px 5px 5px 0px;
    border-left:5px solid red;
    i{
        color:aliceblue;
        float:right;
        font-size: 1.5em ;
        display:block;
          text-shadow: 0.5px 0.5px black;
    }
    &:hover{
        background-color:rgb(56, 126, 100); ;
    }
}
            }
}

#intro{
    h1{
        font-family: $font-title;
        color: $text-color-red;
        text-shadow: 0.5px 0.5px black;
               font-weight: bold;
    }
    p{
        font-family: $font;
        font-weight: bold;
    }
.helpBtn{
    color:white;
    font-weight: bold;
    font-family: $font-title;
    vertical-align: bottom;
    line-height:10px;
    text-align: center;
    cursor: pointer;
    border-radius: 20px;
    background-color: $leogreen;
    height:30px;
    width:30px;
    opacity: 1;
}
    #help1{
        position: absolute;
        top:34%;
        left:6%;
        &:hover{
            opacity:$ball_opacity;
            background-color: $ball_color;
        }
    }
    #help2{
        position: absolute;
        top:44%;
        left:19%;
        &:hover{
            opacity:$ball_opacity;
            background-color:  $ball_color;
        }
    }
    #help3{
        position: absolute;
        top:53%;
        left:20%;
        &:hover{
            opacity:$ball_opacity;
            background-color:  $ball_color;
        }
    }
    #help33{
        position: absolute;
        top:26%;
        right:5%;
        &:hover{
            opacity:$ball_opacity;
            background-color:  $ball_color;
        }
    }
    #help4{
        position: absolute;
        top:47%;
        right:13%;
        &:hover{
            opacity:$ball_opacity;
            background-color: $ball_color;
        }
    }
    #help5{
        position: absolute;
        bottom:20%;
        right:42%;
        &:hover{
            opacity:$ball_opacity;
            background-color: $ball_color;
        }
    }
    #help6{
        position: absolute;
        bottom:15%;
        right:30%;
        &:hover{
            opacity:$ball_opacity;
            background-color: $ball_color;;
        }
    }
    #help7{
        position: absolute;
        top:38%;
        right:26%;
        &:hover{
            opacity:$ball_opacity;
            background-color:  $ball_color;
        }
    }
    #help8{
        position: absolute;
        bottom:28%;
        right:9%;
        &:hover{
            opacity:$ball_opacity;
            background-color:  $ball_color;
        }
    }
    #help9{
        position: absolute;
        bottom:14%;
        right:21%;
        &:hover{
            opacity:$ball_opacity;
            background-color:  $ball_color;
        }
    }
    #help10{
        position: absolute;
        top:32%;
        right:47%;
        &:hover{
            opacity:$ball_opacity;
            background-color:  $ball_color;
        }
    }
}
#copyright{
    font-family: $font;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    bottom:1%;
    font-size: 20px;
    color:rgb(177, 172, 172);
    &:hover{
        color:rgb(132, 132, 132);
    }

}
#formats{
    margin-top: 5%;
    opacity:0.5;
    min-width:200px;
    min-height:260px;
    width:auto;
    height:auto;
    position: absolute;

}
#a4{
    bottom:0;
    left:0;
    position: absolute;
    min-width:200px;
    min-height:260px;
    width:auto;
    height:auto;
    border-style: dashed;
    border-radius: 0px 15px 0px 0px;
   
}
#a5{
    bottom:0;
    left:0;
    position: absolute;
    min-width:142px;
    min-height:184.6px;
    width:auto;
    height:auto;
    border-style: dashed;
    border-radius: 0px 15px 0px 0px;
}
#a6{
    bottom:0;
    left:0;
    position: absolute;
    min-width:100px;
    min-height:130px;
    width:auto;
    height:auto;
    border-style: dashed;
    border-radius: 0px 15px 0px 0px;
}
.formatVisual{
    border:1px black;
   background: none;
}
.formatVisual.active {
    border:2px black;
    background: repeating-linear-gradient(
        60deg,
        #f8f8f8,
        #f8f8f8 2.5px,
        #9a9a9c 2.5px,
        #9a9a9c 5px
      );
}
#colorGallery{
    max-width:168px;
    position: absolute;
    right:20%;
    top: 30%;
    overflow: auto;
}
 div.colorBall{
     background-size: fill;
    border: 0.5px solid black;
    margin-right: 1px;
     margin-top: 1px;
    width:40px;
    height:40px;
    cursor: pointer;
    border-radius: 24px;
     display: inline-block;
     i.fas{
         position: absolute;
         display: none;
    color: rgb(255, 255, 255);
    margin-top:5px;
    margin-left:5px;
        }  
      &.activeBall{
           border: 0.5px solid $leogreen;
    margin-right: 1px;
    width:40px;
    height:40px;
    cursor: pointer;
    border-radius: 24px;
     display: inline-block;
        i.fas{
           text-shadow: 0.5px 0.5px black;
         display: inline-block;
          color: rgb(255, 255, 255);
    margin-top:5px;
    margin-left:5px;
        }
     }
    }
#specs{
    font-family: $font;
    position: absolute;
    top:30%;
    & ul{
        list-style: none;
        li{
            font-weight: bolder;
            span{
                font-weight: normal;
            }
        }
    }
    button{
        position: absolute;
        color:green;
        left:28%;
    }
}
#elasticBand{
    display: none;
    position: absolute;
    background-color: white;
    background-image: url('../images/accessoires/elasticBandTexture.png');
    background-repeat: repeat-y;
    background-size:contain;
 height: 100%;
    width:7%;
    top:0%;
    right:9%;
}
#elasticBandMenu{
display: none;
padding-top: 2%;
width: auto;
height:auto;
background:	#D8DFE5;
}
.glossSpine{
    background-image: url('../images/Spine.png');
    background-repeat: no-repeat;
    background-size: contain;
    max-height: 700px;
    max-width: 10px;
    min-width: 50px;
    height: 400px;
    width: auto;
    position: absolute;;
    bottom:0%;
}
#optionsAdPages{
    display:none;
}
#resetOverlay{
    position: fixed;
    display: none; 
    width: 100%; 
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(194, 192, 192, 0.562);
background-repeat: no-repeat;
    z-index: 15; 
    opacity: 1;
    #dialogBox{
        font-family: $font;
        background-color: rgb(49, 46, 46);
        border-radius: 12%;
        border: 5px solid black;
        position: absolute;
        top:35%;
        left:40%;
        width:auto;
        height:auto;
        min-width:400px;
        min-height: 270px;
        max-width:400px;
        p{
            overflow:justify;
            font-family: $font;
            font-size: 24px;
            color:$text-color-red;
    text-shadow: 0.5px 0.5px black;
    position: absolute;
    top:5%;
    left:8%;
        }
        #resetButtonBox{
            position: absolute;
            bottom:10%;
            width:100%;
        #confirmReset{
            border: 2px solid black;
            text-align: left;
            padding:4%;
            font-size: 15px;
            font-family: $font;
            width:95%;
            left:2.5%;
            position: relative;
            background-color:rgb(66, 114, 97);
            margin-bottom:2%;
            cursor: pointer;
            font-weight:bolder;
            &:hover{
                box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
                transform: scale(1);
                animation: pulse 2s infinite;
            }
        }
        #cancelReset{
            border: 2px solid black;
            cursor: pointer;
            text-align: left;
            padding:4%;
            font-size: 15px;
            font-family: $font;
            width:95%;
            position: relative;
            left:2.5%;
            font-weight:bolder;
            background-color:$leogreen;
            &:hover{
                box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
                transform: scale(1);
                animation: pulse 2s infinite;
            }
        }
    }
}
}
#buttonBar{
    position: absolute;
    right:0.5%;
    top:10%;
    display:block;
    max-width:40px;
    height:auto;
    width: auto;
    & i.fas{
         color: rgb(177, 172, 172);
    margin-bottom:10px;
    }
    & i.fas:hover{
    color: rgb(88, 87, 87);
    cursor:pointer;
}
#savePos{
    display: none;
}
}
@media screen and (max-width:1500px ){
 #colorGallery{
    right:1%;
    overflow: clip;
    max-width: 126px;
}
}